.add-user{
  height: 200px;
  padding:10px ;
  padding-left: 50px;
  border: 10px solid #8484;
}
.display-user{
  height: 200px;
  padding:10px ;
  padding-left:50px ;
  border: 10px solid rgba(252, 72, 7, 0.267);
  margin-top: 10px;
  overflow-y: auto;
}
.input-user{
  height: 45px;
  width:250px ;
  border: 1px solid rgba(252, 72, 7, 0.267);
  display: block;
  
}
.botton-user{
  height: 35px;
  width:250px ;
  border: 1px solid rgba(252, 72, 7, 0.267);
  display: block;
  margin-top: 20px;
  
}
.display-data{
  background-color: aqua;
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    

}